name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

env:
  HUSKY: 0

jobs:
  build:
    name: Install package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: pplancq/actions/setup-node@main
        with:
          use-mise: 'true'

      - name: Check package-lock.json
        run: npm run package:check

      - name: Install package
        run: npm ci

      # https://commitlint.js.org/guides/ci-setup.html#github-actions
      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request' && !startsWith(github.head_ref, 'copilot/')
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose --color

      - name: Run lint
        run: npm run prettier
